:root {
  /* Primitive Colors */
  --color-black: 0, 0%, 0%;
  --color-white: 0, 0%, 100%;

  --color-gray-50: 0, 0%, 98%;
  --color-gray-100: 0, 0%, 96%;
  --color-gray-200: 0, 0%, 90%;
  --color-gray-300: 0, 0%, 83%;
  --color-gray-400: 0, 0%, 64%;
  --color-gray-500: 0, 0%, 45%;
  --color-gray-600: 0, 0%, 32%;
  --color-gray-700: 0, 0%, 25%;
  --color-gray-800: 0, 0%, 15%;
  --color-gray-900: 0, 0%, 9%;
  --color-gray-950: 0, 0%, 4%;

  --color-red-50: 0, 100%, 98%;
  --color-red-100: 0, 93%, 92%;
  --color-red-200: 0, 96%, 85%;
  --color-red-300: 0, 94%, 75%;
  --color-red-400: 0, 87%, 68%;
  --color-red-500: 0, 72%, 57%;
  --color-red-600: 0, 61%, 48%;
  --color-red-700: 0, 56%, 39%;
  --color-red-800: 0, 54%, 33%;
  --color-red-900: 357, 62%, 24%;
  --color-red-950: 0, 75%, 15%;

  --color-yellow-50: 49, 100%, 96%;
  --color-yellow-100: 48, 96%, 89%;
  --color-yellow-200: 48, 97%, 77%;
  --color-yellow-300: 48, 96%, 65%;
  --color-yellow-400: 48, 96%, 56%;
  --color-yellow-500: 43, 96%, 50%;
  --color-yellow-600: 38, 94%, 44%;
  --color-yellow-700: 31, 90%, 37%;
  --color-yellow-800: 29, 83%, 31%;
  --color-yellow-900: 28, 77%, 26%;
  --color-yellow-950: 28, 92%, 14%;

  --color-orange-50: 33, 100%, 96%;
  --color-orange-100: 34, 100%, 92%;
  --color-orange-200: 35, 100%, 83%;
  --color-orange-300: 31, 97%, 72%;
  --color-orange-400: 27, 96%, 61%;
  --color-orange-500: 24, 95%, 53%;
  --color-orange-600: 21, 90%, 48%;
  --color-orange-700: 18, 88%, 40%;
  --color-orange-800: 17, 79%, 34%;
  --color-orange-900: 17, 75%, 28%;
  --color-orange-950: 15, 81%, 15%;

  --color-blue-50: 214, 100%, 97%;
  --color-blue-100: 214, 95%, 93%;
  --color-blue-200: 213, 97%, 87%;
  --color-blue-300: 212, 96%, 78%;
  --color-blue-400: 213, 94%, 68%;
  --color-blue-500: 217, 91%, 60%;
  --color-blue-600: 221, 83%, 53%;
  --color-blue-700: 221, 78%, 48%;
  --color-blue-800: 222, 71%, 40%;
  --color-blue-900: 224, 64%, 33%;
  --color-blue-950: 224, 57%, 21%;

  --color-green-50: 138, 76%, 97%;
  --color-green-100: 141, 84%, 93%;
  --color-green-200: 141, 79%, 85%;
  --color-green-300: 142, 77%, 73%;
  --color-green-400: 142, 69%, 58%;
  --color-green-500: 142, 70%, 45%;
  --color-green-600: 142, 76%, 36%;
  --color-green-700: 142, 72%, 29%;
  --color-green-800: 143, 64%, 24%;
  --color-green-900: 144, 61%, 20%;
  --color-green-950: 145, 80%, 10%;

  --color-teal-50: 166, 76%, 97%;
  --color-teal-100: 167, 85%, 89%;
  --color-teal-200: 168, 83%, 78%;
  --color-teal-300: 171, 77%, 64%;
  --color-teal-400: 172, 66%, 50%;
  --color-teal-500: 173, 80%, 40%;
  --color-teal-600: 174, 84%, 32%;
  --color-teal-700: 175, 77%, 26%;
  --color-teal-800: 176, 69%, 22%;
  --color-teal-900: 178, 61%, 19%;
  --color-teal-950: 180, 82%, 10%;

  --color-purple-50: 270, 100%, 98%;
  --color-purple-100: 269, 100%, 95%;
  --color-purple-200: 271, 100%, 92%;
  --color-purple-300: 269, 97%, 85%;
  --color-purple-400: 271, 96%, 75%;
  --color-purple-500: 271, 91%, 65%;
  --color-purple-600: 271, 81%, 56%;
  --color-purple-700: 271, 72%, 47%;
  --color-purple-800: 271, 67%, 39%;
  --color-purple-900: 272, 66%, 32%;
  --color-purple-950: 273, 87%, 21%;

  --color-pink-50: 327, 73%, 97%;
  --color-pink-100: 326, 78%, 95%;
  --color-pink-200: 327, 87%, 90%;
  --color-pink-300: 327, 87%, 82%;
  --color-pink-400: 330, 81%, 70%;
  --color-pink-500: 330, 81%, 60%;
  --color-pink-600: 330, 70%, 51%;
  --color-pink-700: 333, 78%, 42%;
  --color-pink-800: 333, 74%, 35%;
  --color-pink-900: 336, 69%, 30%;
  --color-pink-950: 336, 83%, 17%;

  /* Semantic Colors */
  --color-background: light-dark(hsl(var(--color-gray-100)), hsl(var(--color-gray-900)));
  --color-text: light-dark(hsl(var(--color-black)), hsl(var(--color-gray-100)));
  --color-card-background: light-dark(hsl(var(--color-white)), hsl(var(--color-gray-900)));
  --color-card-border: light-dark(hsla(var(--color-gray-500), 0.2), hsla(var(--color-gray-600), 0.7));
  --color-card-border-hover: light-dark(hsla(var(--color-gray-500), 0.6), hsla(var(--color-gray-600), 1));
  --color-shadow: light-dark(hsla(var(--color-black), 0.1), hsla(var(--color-black), 0.5));
  
  /* Spacings */
  --spacing-xxs: 0.125rem; /* 2px */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 0.75rem; /* 12px */
  --spacing-lg: 1rem; /* 16px */
  --spacing-xl: 1.25rem; /* 20px */
  --spacing-xxl: 1.5rem; /* 24px */

  /* Easing Functions */
  --linear             : cubic-bezier(0.250, 0.250, 0.750, 0.750);
  --ease               : cubic-bezier(0.250, 0.100, 0.250, 1.000);
  --ease-in            : cubic-bezier(0.420,  0.000, 1.000, 1.000);
  --ease-out           : cubic-bezier(0.000, 0.000, 0.580, 1.000);
  --ease-in-out        : cubic-bezier(0.420,  0.000, 0.580, 1.000);
  
  --ease-in-quad       : cubic-bezier(0.550,  0.085, 0.680, 0.530);
  --ease-in-cubic      : cubic-bezier(0.550,  0.055, 0.675, 0.190);
  --ease-in-quart      : cubic-bezier(0.895,  0.030, 0.685, 0.220);
  --ease-in-quint      : cubic-bezier(0.755,  0.050, 0.855, 0.060);
  --ease-in-sine       : cubic-bezier(0.470,  0.000, 0.745, 0.715);
  --ease-in-expo       : cubic-bezier(0.950,  0.050, 0.795, 0.035);
  --ease-in-circ       : cubic-bezier(0.600,  0.040, 0.980, 0.335);
  
  --ease-out-quad      : cubic-bezier(0.250, 0.460, 0.450, 0.940);
  --ease-out-cubic     : cubic-bezier(0.215, 0.610, 0.355, 1.000);
  --ease-out-quart     : cubic-bezier(0.165, 0.840, 0.440, 1.000);
  --ease-out-quint     : cubic-bezier(0.230, 1.000, 0.320, 1.000);
  --ease-out-sine      : cubic-bezier(0.390, 0.575, 0.565, 1.000);
  --ease-out-expo      : cubic-bezier(0.190, 1.000, 0.220, 1.000);
  --ease-out-circ      : cubic-bezier(0.075, 0.820, 0.165, 1.000);
  
  --ease-in-out-quad  : cubic-bezier(0.455,  0.030, 0.515, 0.955);
  --ease-in-out-cubic : cubic-bezier(0.645,  0.045, 0.355, 1.000);
  --ease-in-out-quart : cubic-bezier(0.770,  0.000, 0.175, 1.000);
  --ease-in-out-quint : cubic-bezier(0.860,  0.000, 0.070, 1.000);
  --ease-in-out-sine  : cubic-bezier(0.445,  0.050, 0.550, 0.950);
  --ease-in-out-expo  : cubic-bezier(1.000,  0.000, 0.000, 1.000);
  --ease-in-out-circ  : cubic-bezier(0.785,  0.135, 0.150, 0.860);
  
  --ease-in-back       : cubic-bezier(0.600, -0.280, 0.735, 0.045);
  --ease-out-back      : cubic-bezier(0.175, 0.885, 0.320, 1.275);
  --ease-in-out-back   : cubic-bezier(0.680, -0.550, 0.265, 1.550);
}