.newTodoForm {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 0.5rem;
  margin: 0 0 2rem 0;
  padding: 1.5rem;
  box-shadow: 0 2px 16px var(--shadow-color);
  width: 100%;
  background: var(--bg-secondary);
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
  border-radius: 0.75rem;

  .button {
    flex-shrink: 0;
    font-size: 1rem;
    padding-block: 0.8rem;
  }
}
