@utility learn-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 12px;

  margin: 40px;
  border: 8px solid hsla(30 100% 80%);
  border-radius: 16px;
  padding: 32px;
  transition: border-color 0.4s ease;
}
